{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 content">
      <h1>Welcome To Quizzy</h1><br>
      <p class="intro">
        Join Our Free Courses to upskill your knowledge ! <br><br>
        Your success path <br><br>
        Select a Topic -> Start The Quiz -> Get Certificate
      </p><br><br>
      <a href="{% url 'topic_list' %}" class="btn btn-lg btn-primary">Start Now</a>
    </div>
    <div class="col-lg-4">
        <img src="{% static "images/brain.png" %}" alt="Not found">
    </div>
  </div>

</div>
{% endblock %}
