{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Questions - {% endblock %}
{% block content %}
    <table class="table table-striped">
      <th>Questions</th>
      <th>Topic:</th>
      <th>Action</th>
      <th></th>
      {% for q in questions %}
        <tr>
          <td>{{ q.text }}<br> Answer:{{ q.answer }} Mark:{{ q.marks}}</td>
          <td>{{ q.topic }}</td>
          <td>
            <a href="{% url 'edit_question' q.id %}">Edit</a>
            <a href="{% url 'delete_question' q.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>

    <div style="text-align:center;padding-right:100px;">
      {% if is_paginated %}

        {% if page_obj.has_previous %}
          <a class="btn btn-outline mb-4" href="?page=1">First</a>
          <a class="btn btn-outline mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-color-1 mb-4" href="?page={{num}}">{{num}}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
            <a class="btn btn-outline mb-4" href="?page={{num}}">{{num}}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

      {% endif %}
    </div>
{% endblock %}
