{% extends 'base.html' %}
{% load static %}
{% block title %}Result - {% endblock %}
{% block content %}
    <div class="resultdiv">
      <h2>Your score for {{ t.topicname }} quiz is {{ t.score }} out of {{ t.total_score }}.</h2><br><br>

      {% if t.score >= passing %}
        <p style="padding-top:100px; font-size: 1.5rem; color:#33cc33;">
          {{message}}
        </p>
      {% else %}
        <p style="padding-top:100px; font-size: 1.5rem; color:#ff8080;">
          {{message}}
        </p>
      {% endif %}
    </div>
{% endblock %}
