{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% block login %}


<div class="loginpage">
  <p style="font-size:1.5rem; padding:20px 20px 10px 50px;">Join Here and Start Practicing !</p>
  <form method="POST" class="form_page">
    {% csrf_token %}
    <!-- {{ form|crispy }}<br> -->
    {{form.username}}<br>
    {{form.password}}<br>
    <input type="submit"  class="btn btn-primary" value="Log In"><br><br>
    Need an Account ? <a class="ml-4" href="{% url 'register' %}">Sign Up</a>
  </form>
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}}" style="width:300px; margin-left:90px; text-align:center;">
        {{ message }}
      </div>
      {% endfor %}
  {% endif %}
</div>
{% endblock %}
