{% extends 'base.html' %}
{% load static %}
{% block title %}Questions - {% endblock %}
{% block content %}
  <p>You have been Logged Out</p>
  <a href="{% url 'login' %}">Login Again</a>

{% endblock %}
