<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Quizzy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>{% block style %}{% endblock %}</style>
  </head>
  <body>
    <div>
      <ul class="navbar">
        <li><a class="active" href="{% url 'home' %}">Quizzy</a></li>
        <li style="float:left"><a href="{% url 'contact' %}">Contact</a></li>
        <li style="float:left"><a href="{% url 'topic_list' %}">Take Quiz</a></li>
        {% if request.user.is_authenticated %}
          <li style="float:right;"><a href="{% url 'post-create' %}">New Post</a> </li>
          <li style="float:right;"><a href="{% url 'profile' %}">Profile</a> </li>
          <li style="float:right;"><a href="{% url 'logout' %}">{{request.user}} &nbsp;|&nbsp; Logout</a></li>
        {% else %}
          <li style="float:right;"><a href="{% url 'login' %}">Login</a></li>
          <li style="float:right;"><a href="{% url 'register' %}">Join For Free</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="container content">
          <div class="row">
            <div class="col-md-8">
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-4">
              <div class="sidebar">
                <ul class="list-group">
                  <article class="media">
                  </article>
                </ul>
              </div>
            </div>
          </div>
        </div>

  </body>
  <script type="text/javascript">

    document.querySelector('#btnevent').addEventListener('click', promptMe);

    function promptMe() {
        alert("Please Sign In First")
    }
  </script>
  {% block script %}
  {% endblock %}
</html>
