{% extends "Blog/base-template.html" %}
{% block content %}
  <h1>New Comment</h1>
  <form class="post-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-outline-primary">Post Comment</button>
  </form>
{% endblock %}
