{% extends 'Blog/base-template.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Blog Post</legend>
        <!-- {{ form|crispy }} -->
        <label for="">Title</label>{{form.title}}
        <label for="">Topic</label>{{form.topic}}
        <label for="">Content</label>{{form.content}}
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-info">Post!</button>
      </div>
    </form>
  </div>
{% endblock %}
